body{
    background-color: #dcd9d9;
    margin: 0%;
    font-family: 'PT Sans', sans-serif;
}
.topnavbar{
    background-color: #23033f;
    overflow: hidden;
    display: flex;
}
.topnavbar a{
    float: left;
    color:#faf6eb;
    text-align: center;
    padding: 1% 5%;
    font-size: 18px;
    text-decoration: none;
    display: flex;
}
.topnavbar a:hover{
    background-color: #adb3dc;
    color: #23033f;
}

/*WHEN THE SCREEN IS LESS THAN 600 PIXELS WIDE, HIDE ALL LINKS, EXCEPT FOR THE FIRST ONE ("ChiTunes"). SHOW THE LINK THAT CONTAINS SHOULD OPEN AND CLOSE THE topnavbar (.icon) */
@media screen and (max-width: 768px) {
    .topnavbar, .topnavbar a{
        flex-direction: column;
    }   
}

.header_image{
    background-image: url(../images/anime_music_girl_chitunes.jpg);
    background-color: #23033f;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    padding: 20%;
    color: #dcd9d9;
    text-align: center;
    overflow: hidden;
}
@media screen and (max-width: 768px){
    .header_image{
        background-size: cover;
        padding:15px;
    }
}
.header_image h1{
    font-size: 370%;
}
.header_image h3{
    font-size: 170%;
}
.header_image p{
    font-size: 150%;
}
.purple_bg{
    background-color: #23033f;
    color: #dcd9d9;
    padding: 1%;
    text-align: center;
}
.purple_bg h1{
    font-size: 300%;
}
.purple_bg h2{
    font-size: 170%;
}
.purple_bg p{
    font-size: 150%;
}
.purple_bg button{
    color:#dcd9d9;
    background-color: #a20160;
    padding: 18px 25px;
    font-size: 90%;
    border: none;
}
.purple_bg button:hover{
    background-color: #b41873;
    color:#dcd9d9;
}
.purple_bg img{
    width: 100%;
    height: auto;
    margin: auto;
}
.purple_bg .p2{
    font-size: 14px;
}


.orange_bg{
    background-color: #fc8d14;
    padding: 5% 10%;
}
.orange_bg h2{
    text-align: center;
    font-size: 35px;
}
.orange_bg p{
    text-align: center;
    font-size: 21px;
    margin: 3% 8%;
}
.orange_bg button{
    color:#dcd9d9;
    background-color: #a20160;
    padding: 18px 25px;
    font-size: 90%;
    border: none;
    margin: 0 43.5%;
}
.orange_bg button:hover{
    background-color: #b41873;
    color:#dcd9d9;
}
.orange_bg img{
    width: 100%;
    height: auto;
    margin: auto;
}