body{
    background-color: #dcd9d9;
    margin: 0%;
    font-family: 'PT Sans', sans-serif;
}
.topnavbar{
    background-color: #23033f;
    overflow: hidden;
    display: flex;
}
.topnavbar a{
    float: left;
    color:#faf6eb;
    text-align: center;
    padding: 1% 5%;
    font-size: 18px;
    text-decoration: none;
    display: flex;
}
.topnavbar a:hover{
    background-color: #adb3dc;
    color: #23033f;
}

/*WHEN THE SCREEN IS LESS THAN 600 PIXELS WIDE, HIDE ALL LINKS, EXCEPT FOR THE FIRST ONE ("ChiTunes"). SHOW THE LINK THAT CONTAINS SHOULD OPEN AND CLOSE THE topnavbar (.icon) */
@media screen and (max-width: 768px) {
    .topnavbar, .topnavbar a{
        flex-direction: column;
    }   
}

.header_image{
    background-image: url(../images/anime_music_girl_chitunes.jpg);
    background-color: #23033f;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    color: #dcd9d9;
    text-align: center;
}

.header_image h1{
    font-size: 370%;
}
.header_image h3{
    font-size: 170%;
}
.header_image p{
    font-size: 150%;
}
